body{
    font-family: "Lexend", sans-serif;
    background: #131825;
}

html{
    overflow-x: hidden;
   
}

.user-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header__content{
    display: flex;
    background: #2a3549;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    
    height: 60px;
    padding: 0 20px;
    
}

.logo{
    display: flex;
}

.user-info{
    display: flex;
    
    align-items: center;
    gap: 10px;
}

.user-stat{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stars-earned{
    color: #dddddd;
}

.stars-balance{
    background: #53617a;
    padding: 10px 20px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.section-header {
    display: flex;
    width: 100%;
    color: #fff;
    justify-content: center;
    min-height: 100vh;
    background-color: transparent; /* вместо #131825 */
}


.section-header__content{
    margin-top: 15px;
    padding: 0 15px;
    margin-bottom: 85px;
}

.section-header__blocks{
    display: grid;
    grid-template-columns: auto auto auto;
    
    gap: 15px;
    width: 100%;
   
    margin: 0 auto;
    
}

.ad-block{
    border-radius: 15px;
    position: relative;
    background-color: #1e2533;
    font-family: "Lexend", sans-serif;
    max-width: 200px;
    min-width: 180px;
}

.ad-block__img{
    width: 100%;
    border-radius: 15px;
    height: 130px;
}

.ad-block__bottom{
    padding: 0 20px;
    margin: 10px 0;
    
}

.block-bottom__item{
    margin-top: 5px;
    
}


.ad-block__description{
    max-width: 100%;
    align-items: center;
   
    
}

.ad-link{
    padding: 10px;
    display: flex;
    justify-content: center;
    background: #53617a;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 1s ease;
}

.ad-link:hover{
    background: #313e57;
}

.ad-block__title{
    font-size: 18px;
    font-weight: 800;
    
}

.ad-block__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.ad-block__price{
    padding: 5px 8px;
    background: #008f2471;
    color: rgb(30, 212, 30);
    font-weight: 800;
    border-radius: 8px;
    font-size: 14px;
    
    align-items: center;
    text-align: center;
}

.ad-link__mobile{
    display: none;
}


.footer-nav{
    display: flex;
    background: #2a3549;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 70px;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-weight: 700;
    z-index: 2;
}

.footer-nav__item{
    margin-bottom: 20px;
}

.footer-nav__item.active a {
    color: #fff;  /* вместо #0088cc */
    font-weight: 600;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

main {
    padding-top: 60px;   /* высота header */
    padding-bottom: 60px; /* высота footer */
    position: relative;
}

@media screen and (max-width: 710px) {
    .ad-block__text{
    flex-direction: column;
}
    .ad-block__price{
        padding: 8px 15px;
    }

    .price{
        display: none;
    }

    .ad-link__default{
        display: none;
    }

    .ad-link__mobile{
        display: flex;
    }
}


@media screen and (max-width: 630px) {
    .section-header__blocks{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 550px) {
    .section-header__blocks{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 430px) {
    .ad-block{
        min-width: 160px;
           
    }

    
    .section-header__blocks{
        gap: 10px;
    }
    .ad-block__bottom{
        padding: 0 10px;
    }
}

@media screen and (max-width: 370px) {
    .section-header__blocks{
        grid-template-columns: 1fr ;
    }
    .ad-block__bottom{
        padding: 0 20px;
    }
}

